    <header>
        <nav class="navbar navbar-expand-lg mt-3 mb-4 navbar-dark bg-dark">
            <a class="navbar-brand" href="/">API WoMakersCode</a>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/episodes">Episodes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/locations">Locations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/lista">JSON Data</a>
                  </li>  
              </ul>
            </div>
          </nav>
    </header>
</body>
